@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&family=Nabla&family=Orbitron:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: rgb(0, 0, 0);
}

.body-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

header{
    font-family: 'Orbitron', sans-serif;
    font-size: 80px;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 15vh;
    animation: glow 2s ease-in-out infinite alternate;
}

.scores-1, .scores-2{
    font-family: 'Orbitron', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#player-1-score, #player-2-score{
    font-size: 60px;
}

.board-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board{
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid{
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 50px;
    border-radius: 5%;
    color: rgb(179,196,227);
    text-shadow: 1px 1px rgb(179,196,227);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Reem Kufi Ink', sans-serif;
    animation: glow 2s ease-in-out infinite alternate;
}
.grid:hover{
    background-color: rgb(9, 9, 9);
}

.grid-0, .grid-3, .grid-6 {
    border-left: none;
}

.grid-0, .grid-1, .grid-2 {
    border-top: none;
}

.grid-2, .grid-5, .grid-8 {
    border-right: none;
}

.grid-6, .grid-7, .grid-8 {
    border-bottom: none;
}

@keyframes glow {
    from {
      text-shadow: 0 0 20px #2d9da9;
    }
    to {
      text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
    }
}